$lgrey: #eef1f3;
$blue: #0674ec;
$dblue: #0050a7;
$dgrey: #333333;


@mixin f400 {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Quicksand-Bold', sans-serif;
    font-weight: 700;
}