@import "fonts";
@import "vars";
@import "global";

// start header section

.header {
    &__top {
        background-color: $lgrey;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    &__logo-link {
        margin-left: 7px;
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        margin-left: auto;
        margin-right: 50px;
        // font-family: "MyriadPro-Regular";
        font-size: 14px;
        // font-weight: 400;
        line-height: 28px;
        padding: 4px;
        width: 140px;
        background: $blue;
        border-radius: 16px;
        text-align: center;
        color: #fff;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
        &:hover {
            background-color: $dblue;
        }
    }
    &__profile {
        display: flex;
        justify-content: space-between;
    }
    &__notice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
        width: 120px;
        a {
            line-height: 0;
            display: inline-block;
            text-decoration: none;
        }
    }
    .lnr {
        color: #7e8fa1;
        font-size: 20px;
        position: relative;
    }
    .lnr-alarm {
        &::after {
            content: "25";
            position: absolute;
            @include f500;
            font-size: 14px;
            color: #fff;
            padding: 6px;
            background-color: #ff6a6c;
            border-radius: 50%;
            top: -20px;
            left: 12px;
        }
    }
    .lnr-envelope {
        &::after {
            content: "6";
            position: absolute;
            @include f500;
            font-size: 14px;
            color: #fff;
            padding: 6px 9px;
            background-color: #62d03b;
            border-radius: 50%;
            top: -20px;
            left: 12px;
        }
    }
    .lnr-cart {
        &::after {
            content: "2";
            position: absolute;
            @include f500;
            font-size: 14px;
            color: #fff;
            padding: 6px 9px;
            background-color: $blue;
            border-radius: 50%;
            top: -20px;
            left: 12px;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__avatar {
        width: 50px;
        height: 50px;
        margin-right: 22px;
    }
    &__user-info {
        align-items: center;
    }
    &__name {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: $dgrey;
        padding-top: 5px;
    }
    &__balance {
        font-weight: 400;
        line-height: 22px;
        color: $blue;
    }
    &__menu {
        background-color: #fff;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        & + & {
            margin-left: 25px;
        }
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        @include f500;
        font-size: 15px;
        line-height: 42px;
        color: $dgrey;
        text-transform: uppercase;
        border-radius: 14px;
        padding: 0 4px;
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 4px 10px 0px rgba(52, 91, 229, 0.18);
        }
    }
    &__search-form {
        max-width: 360px;
        width: 100%;
        position: relative;
    }
    &__input {
        border-width: 1px;
        border-color: rgb(217, 223, 229);
        border-style: solid;
        display: block;
        width: 100%;
        height: 46px;
        border-radius: 25px;
        outline: none;
        font-size: 15px;
        line-height: 30px;
        padding-left: 25px;
        padding-right: 80px;
        &::placeholder {
            color: #898f96;
        }
    }
    &__button {
        position: absolute;
        border: none;
        background-color: $blue;
        border-radius: 25px;
        right: 0;
        top: 0;
        width: 70px;
        height: 46px;
        outline: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: $dblue;
        }
    }
    .lnr-magnifier {
        position: absolute;
        font-size: 15px;
        color: #fff;
        top: 15px;
        right: 27px;
    }
}

// end header section

// start  main-screen section

.main-screen {
    position: relative;
    width: 100%;
    height: 726px;
    background-image: linear-gradient(
        270deg,
        rgba(0, 48, 222, 0.93) 0%,
        rgba(23, 69, 237, 0.93) 54%,
        rgba(46, 90, 251, 0.93) 100%
    );
    &__inner {
        padding-top: 150px;
        padding-bottom: 200px;
        text-align: center;
    }
    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        span {
            display: inline-block;
            @include f700;
        }
    }
    &__text {
        @include f500;
        font-size: 20px;
        line-height: 72px;
        color: #f3f3f8;
    }
    .button {
        margin: 50px 15px 0;
        font-size: 16px;
        color: #fff;
        background: transparent;
        width: 190px;
        line-height: 0;
        padding: 26.5px 0;
        border: 1px solid #fff;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
    &__search-block {
        position: absolute;
        max-width: 1140px;
        width: 100%;
        height: 135px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        bottom: -66px;
        z-index: 7;
    }
    &__search-form {
        max-width: 805px;
        width: 100%;
        display: block;
        position: relative;
    }
    &__input {
        display: block;
        width: 100%;
        height: 55px;
        padding-left: 30px;
        padding-right: 220px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        outline: none;
        &::placeholder {
            color: #555555;
        }
    }
    &__button {
        height: 55px;
        max-width: 223px;
        width: 100%;
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s;
        &:hover {
            background-color: $dblue;
        }
    }
    &__category {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid #dcdcdc;
        height: 55px;
        width: 195px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        text-decoration: none;
    }
    &__category-link {
        color: #555555;
    }
    .lnr-chevron-down {
        font-size: 12px;
        color: #676767;
    }

    &__shadow-block {
        position: absolute;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.5);
        height: 135px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .shadow1 {
        width: 1110px;
        bottom: -53px;
        z-index: 6;
    }
    .shadow2 {
        width: 1080px;
        bottom: -40px;
        z-index: 5;
    }
}

// end main-screen section

// start advantages section

.advantages {
    background-color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-top: 185px;
        padding-bottom: 120px;
    }
    &__item {
        max-width: 360px;
        width: 100%;
        padding: 40px 33px;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &__images {
        margin-bottom: 30px;
    }
    &__title {
        font-size: 24px;
        color: #000;
        padding-bottom: 20px;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #000;
    }
}

// end advantages section

// start featured section

.featured {
    background-color: #eff1f5;
}
.heading {
    padding: 120px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 30px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        margin-bottom: 46px;
    }
    &__title {
        font-size: 30px;
    }

    &__btn {
        width: 110px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 25px;
    }
    .lnr-chevron-right,
    .lnr-chevron-left {
        font-size: 14px;
        color: #fff;
    }

    .slick-arrow {
        position: absolute;
        z-index: 15;
        top: -108px;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
    }
    .slick-prev {
        right: 107px;
    }
    .slick-next {
        right: 49px;
    }
}
.featured {
    &__item {
        font-size: 0;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1) !important;
    }
    &__images {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        border-radius: 4px;
        max-width: 555px;
        width: 100%;
        min-height: 450px;
        &:hover {
            background-image: linear-gradient(
                180deg,
                rgba(6, 116, 236, 0.9) 0%,
                rgba(61, 94, 215, 0.9) 46%,
                rgba(115, 71, 193, 0.9) 100%
            ) !important;
        }
        .button-info {
            top: calc(100% / 2 - 22.5px);
            left: calc(50% - #{$width+ 5.5px});
        }
        .button-demo {
            top: calc(100% / 2 - 22.5px);
            left: calc(50% + 5.5px);
        }
        button {
            display: none;
            position: absolute;
            @include f500;
            font-size: 15px;
            color: #fff;
            padding: 15px 0;
            width: $width;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 25px;
            outline: none;
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
        &:hover button {
            display: inline-block;
            transition: all 0.3s;
            cursor: pointer;
        }
    }
    &__info {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        max-width: 585px;
        width: 100%;
        padding: 50px 50px 0 50px;
        min-height: 450px;
    }
    &__info-title {
        font-size: 24px;
        @include f500;
    }
    &__product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
    }
    &__avatar-img {
        width: 30px;
        height: 30px;
    }
    &__link {
        margin-left: 9px;
        color: #000;
        display: inline-block;
        text-decoration: none;
    }
    &__icon {
        line-height: 0;
        margin-left: 21px;
    }
    &__text {
        margin-left: 9px;
        color: #7347c1;
        display: inline-block;
        text-decoration: none;
    }
    &__info-text {
        font-size: 16px;
        line-height: 30px;
        padding-top: 25px;
        padding-bottom: 30px;
    }
    &__info-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 44px;
        & div + div {
            margin-left: 7px;
        }
        & div {
            line-height: 30px;
            color: #868c96;
            background-color: #f1f3f6;
            padding: 0 15px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
    &__btn-web,
    &__btn-plugin,
    &__btn-landing {
        transition: all 0.3s;
    }
    &__btn-web:hover,
    &__btn-plugin:hover,
    &__btn-landing:hover {
        background-color: $dgrey;
        color: #fff;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        border-top: 1px solid #ececec;
    }
    &__price {
        @include f500;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        line-height: 0;
        padding: 16px 18.5px;
        background-color: $blue;
        border-radius: 15px;
        transition: all 0.3s;
        &:hover {
            background-color: $dblue;
        }
    }
    &__icons {
        line-height: 0;
        font-size: 0;
        margin-right: auto;
        margin-left: 0;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    .lnr {
        margin-left: 20px;
    }
    .lnr-heart {
        font-size: 15px;
        color: #7347c1;
    }
    .lnr-cart {
        font-size: 15px;
        color: $blue;
    }
    &__heart-num {
        font-size: 15px;
        color: #555555;
    }
    &__cart-num {
        font-size: 15px;
        color: $blue;
    }
}

// end featured section

// start products section

.products {
    background-color: #f6f7fb;
    padding: 120px 0;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 30px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 30px;
        color: #000;
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        color: #747b86;
        margin-left: auto;
        margin-right: 25px;
    }
    &__btn {
        background-image: url(../images/products-menu-btn.png);
        width: 5px;
        height: 20px;
        cursor: pointer;
    }
    &__inner-btn {
        font-size: 0;
        padding: 30px 0 30px 30px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        margin-bottom: 51px;
        button {
            @include f500;
            font-size: 15px;
            line-height: 32px;
            color: #747b86;
            padding: 0 20px;
            background-color: #f1f3f6;
            border: none;
            border-radius: 15px;
            outline: none;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: #747b86;
            }
            & + button {
                margin-left: 10px;
            }
            &.mixitup-control-active {
                background-color: $blue;
                color: #fff;
            }
        }
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 30px;
    }
}
.card {
    max-width: 361px;
    width: 100%;
    min-height: 530px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

    &__img {
        width: 361px;
        height: 230px;
        vertical-align: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        text-align: center;
        text-decoration: none;
        &:hover {
            background-image: linear-gradient(
                180deg,
                rgba(6, 116, 236, 0.9) 0%,
                rgba(61, 94, 215, 0.9) 46%,
                rgba(115, 71, 193, 0.9) 100%
            ) !important;
            border-radius: 4px;
        }
        &:hover button {
            display: inline-block;
            transition: all 0.3s;
            cursor: pointer;
        }
        button {
            display: none;
            @include f500;
            font-size: 15px;
            color: #fff;
            padding: 15px 30px;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 25px;
            outline: none;
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
        button + button {
            margin-left: 11px;
        }
    }
    &__info {
        padding: 30px;
    }
    &__info-title {
        @include f500;
        font-size: 20px;
        color: #000;
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15px;
        line-height: 0;
    }
    &__avatar-img {
        width: 28px;
        height: 28px;
    }
    &__link {
        margin-left: 7px;
        color: #000;
        display: inline-block;
        text-decoration: none;
    }
    &__icon {
        margin-left: 30px;
    }
    &__icon-text {
        color: #7347c1;
        margin-left: 9px;
        display: inline-block;
        text-decoration: none;
    }
    &__item-text {
        font-size: 16px;
        color: #555555;
        line-height: 30px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 30px;
        border-top: 1px solid #ececec;
        line-height: 0;
    }
    &__price {
        @include f500;
        line-height: 30px;
        color: $blue;
        background-color: #e6f1fd;
        border-radius: 15px;
        padding: 0 17px;
        transition: all 0.3s;
        display: inline-block;
        text-decoration: none;
        &:hover {
            background-color: $dblue;
            color: #fff;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;
        font-size: 0;
        margin-left: 0;
        margin-right: auto;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    .lnr-heart {
        font-size: 15px;
        color: #7347c1;
        margin-left: 14px;
    }
    .lnr-cart {
        font-size: 15px;
        color: $blue;
        margin-left: auto;
        margin-right: 0;
    }
    &__heart-num {
        font-size: 15px;
        color: #6f7d8d;
    }
    &__star {
        margin-left: 11px;
    }
    &__cart-box {
        margin-left: 48px;
        margin-right: auto;
    }
    &__cart-num {
        font-size: 15px;
        color: $blue;
    }
}
.products {
    &__bottom-btn {
        text-align: center;
        button {
            font-size: 16px;
            width: 190px;
            line-height: 0;
            padding: 27.5px 0;
            color: #747b86;
            background-color: #f1f3f6;
            border: none;
            border-radius: 28px;
            outline: none;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: #747b86;
            }
            &.mixitup-control-active {
                background-color: $blue;
                color: #fff;
            }
        }
    }
}

// end products section

// start followers section

.followers {
    background-color: #eff1f5;
    &__btn {
        background-color: $blue;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        // align-items: center;
    }
    &__item {
        margin-bottom: 4px;
    }
    .slick-arrow {
        top: -110px;
    }
    .slick-prev {
        right: 101px;
    }
    .slick-next {
        right: 43px;
    }
    .slick-slide {
        width: 388px !important;
    }
}

// end followers section

// start fun section

.fun {
    background-color: #212225;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
    }
    &__item {
        width: 170px;
        height: 163px;
        text-align: center;
    }
    &__icon {
        display: block;
        font-size: 48px;
        display: inline-block;
        text-decoration: none;
    }
    &__num--bc,
    .lnr-briefcase {
        color: #feb71d;
    }
    &__num--cd,
    .lnr-cloud-download {
        color: #58c9e9;
    }
    &__num--sm,
    .lnr-smile {
        color: #77de51;
    }
    &__num--us,
    .lnr-users {
        color: #ff6a6d;
    }

    &__num {
        display: block;
        font-size: 36px;
        padding-top: 50px;
        padding-bottom: 10px;
        text-decoration: none;
    }
    &__text {
        display: block;
        font-size: 18px;
        line-height: 36px;
        color: #fff;
    }
}

// end fun section

// start why-choose section

.why-choose {
    background-color: #fff;
    &__inner {
        padding-top: 110px;
        padding-bottom: 120px;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        color: #000;
        padding: 10px 0;
        span {
            color: $blue;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        width: 700px;
        padding: 15px 0 25px;
        margin: 0 auto;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        width: 361px;
        margin-top: 30px;
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 20px 20px 60px 20px;
    }
    &__num {
        font-size: 48px;
        color: rgba(92, 135, 248, 0.2);
        display: block;
        text-align: left;
    }
    &__icon {
        margin-bottom: 45px;
        display: block;
        text-decoration: none;
    }
    .lnr {
        font-size: 60px;
    }
    .lnr-license {
        color: $blue;
    }
    .lnr-magic-wand {
        color: #7f4ec2;
    }
    .lnr-lock {
        color: #77de51;
    }
    .lnr-chart-bars {
        color: #feb71d;
    }
    .lnr-leaf {
        color: #58c9e9;
    }
    .lnr-phone {
        color: #ff6a6d;
    }
    &__item-title {
        font-size: 24px;
        margin-bottom: 25px;
        display: block;
        text-decoration: none;
    }
    &__item-text {
        font-size: 16px;
        color: #555555;
        display: block;
        padding: 0 10px;
    }
}

// end why-choose section

// start sell-buy section

.sell-buy {
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__items {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    &__item {
        width: 730px;
        height: 561px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sell {
        padding-right: 130px;
        margin-left: auto;
        margin-right: 0;
    }
    .buy {
        padding-left: 130px;
        margin-left: 0;
        margin-right: auto;
    }
    &__title {
        font-size: 36px;
        color: #fff;
        margin-top: 40px;
        padding: 10px 0;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        width: 580px;
        margin: 0 auto;
        padding: 15px 0;
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        width: 190px;
        padding: 27.5px 0;
        font-size: 16px;
        line-height: 0;
        background-color: #fff;
        border-radius: 40px;
        margin-top: 25px;
        transition: all 0.3s;
    }
    &__btn--sell {
        color: $blue;
        &:hover {
            color: #fff;
            background-color: #a1bdff;
        }
    }
    &__btn--buy {
        color: #7347c1;
        &:hover {
            color: #fff;
            background-color: #d199ff;
        }
    }
}

// end sell-buy section

// start feedback section

.feedback {
    background-color: #fff;
    &__inner {
        padding: 120px 0;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        margin-bottom: 25px;
        span {
            color: $blue;
        }
    }
    &__text {
        font-size: 16px;
        color: #555555;
        line-height: 30px;
        width: 700px;
        margin: 0 auto;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
    }
    &__item {
        padding: 50px 35px 47px 38px;
        border-left: 2px solid $blue;
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        width: 555px;
        text-align: left;
    }
    &__profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }
    &__avatar {
        line-height: 0;
    }
    &__client {
        margin-left: 20px;
        margin-right: auto;
    }
    &__name {
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
    }
    &__position {
        font-size: 16px;
        color: #555555;
        display: block;
    }
    &__icon {
        display: inline-block;
        text-decoration: none;
    }
    .lnr-bubble {
        font-size: 60px;
        color: #e8e8e8;
    }
    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        line-height: 0;
        color: #fff;
        width: 190px;
        padding: 27.5px 0;
        background-color: $blue;
        border-radius: 40px;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: $dblue;
        }
    }
}

// end feedback section

// start news section

.news {
    background-color: #eff1f5;
    &__inner {
        padding: 120px 0;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        margin-bottom: 25px;
        span {
            color: $blue;
        }
    }
    &__text {
        font-size: 16px;
        color: #555555;
        line-height: 30px;
        width: 700px;
        margin: 0 auto;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
    }
    &__item {
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        width: 361px;
        min-height: 475px;
        text-align: left;
    }
    &__info {
        max-width: 361px;
    }
    &__item-title {
        @include f500;
        font-size: 22px;
        padding: 26px 17px 26px 27px;
    }
    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0 17px 24px 27px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 8px 0;
        border-top: 1px solid #ececec;
    }
    &__data {
        color: #999999;
        padding-left: 27px;
        border-right: 1px solid #ececec;
        width: 50%;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    .lnr-clock {
        font-size: 15px;
        color: $blue;
    }
    &__responses {
        margin-right: 30px;
        color: #7e7e7e;
        font-size: 0;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    .lnr-bubble,
    .lnr-eye {
        font-size: 15px;
        margin-left: 30px;
    }
    &__num {
        font-size: 15px;
        margin-left: 7px;
    }
}

// end news section

// start support section

.guarantee-support {
    background-color: #fff;
    &__inner {
        display: flex;
        text-align: center;
    }
    &__guarantee {
        width: 50%;
        padding: 60px 125px 60px 85px;
        border-right: 1px solid #e8eaf3;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    &__support {
        width: 50%;
        padding: 60px 150px 60px 125px;
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
    &__image {
        margin-bottom: 25px;
    }
    &__text {
        font-size: 24px;
    }
    &__guarantee-link {
        color: $blue;
    }
    &__support-link {
        color: #7347c1;
    }
}

// end support section

// start join section

.join {
    width: 100%;
    min-height: 400px;
    background-image: linear-gradient(
        -90deg,
        rgba(13, 62, 242, 0.9) 0%,
        rgba(64, 48, 201, 0.9) 46%,
        rgba(114, 33, 160, 0.9) 100%
    );
    &__inner {
        padding: 100px 0;
        text-align: center;
        color: #fff;
    }
    &__title {
        font-size: 36px;
        margin-bottom: 24px;
    }
    &__text {
        font-size: 18px;
        margin-bottom: 48px;
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        line-height: 0;
        color: $blue;
        background-color: #fff;
        border-radius: 40px;
        width: 190px;
        padding: 27.5px 0;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: $dblue;
        }
    }
}

// end join section

// start footer section

.footer {
    &__content {
        background-color: #262b30;
    }
    &__inner {
        padding: 87px 0 110px 0;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__about {
        width: 280px;
    }
    &__text {
        padding: 10px 0;
        line-height: 28px;
        color: #ababab;
    }
    &__phone,
    &__mail,
    &__address {
        position: relative;
        padding-top: 6px;
    }
    .lnr {
        position: absolute;
        font-size: 16px;
        color: #fff;
        top: 10px;
        cursor: pointer;
    }
    .lnr-map-marker {
        top: 24px;
    }
    &__phone-link,
    &__mail-link,
    &__address-link {
        display: inline-block;
        text-decoration: none;
        color: #ababab;
        line-height: 26px;
        padding-left: 28px;
    }
    &__company-support {
        width: 150px;
        padding-top: 5px;
        li {
            color: #ababab;
            line-height: 32px;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 9px;
    }
    &__title {
        font-size: 18px;
        line-height: 42px;
        color: #fff;
    }
    &__news {
        width: 380px;
        padding-top: 5px;
    }
    &__news-title {
        font-size: 18px;
        line-height: 42px;
        color: #fff;
    }
    &__news-text {
        padding-top: 9px;
        color: #ababab;
        line-height: 32px;
    }
    &__news-list {
        margin-top: 48px;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            list-style: none;
            a {
                display: inline-block;
                text-decoration: none;
            }
            & + li {
                margin-left: 10px;
            }
        }
    }
    &__link-facebook {
        background-color: #395799;
        &::after {
            content: "\ea90";
        }
    }
    &__link-twitter {
        background-color: #19b2f5;
        &::after {
            content: "\ea96";
        }
    }
    &__link-google {
        background-color: #f05b44;
        &::after {
            content: "\ea88";
        }
    }
    &__link-pinterest {
        background-color: #9c0c1c;
        &::after {
            content: "\ead1";
        }
    }
    &__link-linkedin {
        background-color: #0da6be;
        &::after {
            content: "\eaca";
        }
    }
    &__link-dribbble {
        background-color: #ea4c89;
        &::after {
            content: "\eaa7";
        }
    }
    &__link-facebook::after,
    &__link-twitter::after,
    &__link-google::after,
    &__link-pinterest::after,
    &__link-linkedin::after,
    &__link-dribbble::after {
        font-family: "icomoon";
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 9px;
        left: 13px;
    }
    &__link-facebook,
    &__link-twitter,
    &__link-google,
    &__link-pinterest,
    &__link-linkedin,
    &__link-dribbble {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        position: relative;
    }
    &__copy {
        background-color: #192027;
    }
    &__copy-text {
        text-align: center;
        color: #999999;
        padding: 34px 0;
        span {
            color: #fff;
        }
    }
}
.search-form {
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-top: 30px;
    &__input {
        border-width: 1px;
        border-color: rgb(217, 223, 229);
        border-style: solid;
        display: block;
        width: 100%;
        height: 44px;
        border-radius: 25px;
        outline: none;
        font-size: 15px;
        line-height: 0px;
        height: 50px;
        padding-left: 25px;
        padding-right: 80px;
        &::placeholder {
            color: #898f96;
        }
    }
    &__button {
        position: absolute;
        color: #fff;
        border: none;
        background-color: $blue;
        border-radius: 25px;
        right: -2px;
        top: 0;
        width: 110px;
        height: 50px;
        outline: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: $dblue;
        }
    }
}

// end footer section
